# Special TP 1

1. Calculons les expressions :
    - Somme :

In [1]:
n = input("Veuillez saisir un entier : ")
somme = 0
for i in range(0,int(n)-1) :
    somme = somme  + (i+3)
print(somme)

KeyboardInterrupt

    - Produit :

In [13]:
n = input("Veuillez saisir un entier : ")
produit = 1
for i in range(0,int(n)-1) :
    produit = produit  * (i+3)
print(produit)

Veuillez saisir un entier : 3
12

2. Affichez date

In [91]:
x = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday',5:'Saturday',6:'Sunday'}
n = input("Veuillez saisir le jour : ")
while((int(n)<0) | (int(n)>6) ) :
    n = input("Veuillez saisir un jour compris entre [0-6]: ")
if int(n) > 0 and int(n) < 5 :   
    print("Le jour correspondant est : ",x[int(n)])
else :
    print("Weekend")

Veuillez saisir le jour : 4
Le jour correspondant est :  Friday

3. mois de l'année

In [5]:
n = int(input("Veuillez saisir le numero du mois : "))
if n==1:
    print("Le mois de numero ", n, "a 28 jours")
elif n in [0, 2,  4,  6,  7, 9, 11]:
    print("Le mois de numero ", n, "a 31 jours")
elif n in [3, 5,  8,  10]:
    print("Le mois de numero ", n, "a 30 jours")
else:
    print("Le numero ne convient pas")

Veuillez saisir le numero du mois : 14
Le numero ne convient pas

4. Affichez nom 3 fois de deux manière
   - While loop

In [97]:
nom  = "Roland"
x = 1
while x < 4 :
    print(nom)
    x = x + 1

Roland
Roland
Roland

   - For Loop

In [99]:
nom  = "Roland"
for x in range(1,4) :
    print(nom)

Roland
Roland
Roland

5. Fibonnacci

In [73]:
n = int(input("Enter a higher number of 1 : "))
while n <= 1:
    n = int(input("Enter a higher number of 1 : "))
    
Fibonacci = [0]*15
Fibonacci[0] = 0
Fibonacci[1] = 1

for i in range(n,15):
    Fibonacci[i] = Fibonacci[i-1] + Fibonacci[i-2]

print(Fibonacci)

Enter a higher number of 1 : 2
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [23]:
sequence =[0]*32
sequence[0] = 2
sequence[1] = 1

for i in range(0,30):
    sequence[i+2] = (sequence[i+1] + 6*sequence[i])/2
    print("s[",i,"] : ",sequence[i+2])

s[ 0 ] :  6.5
s[ 1 ] :  6.25
s[ 2 ] :  22.625
s[ 3 ] :  30.0625
s[ 4 ] :  82.90625
s[ 5 ] :  131.640625
s[ 6 ] :  314.5390625
s[ 7 ] :  552.19140625
s[ 8 ] :  1219.712890625
s[ 9 ] :  2266.4306640625
s[ 10 ] :  4792.35400390625
s[ 11 ] :  9195.468994140625
s[ 12 ] :  18974.796508789062
s[ 13 ] :  37073.805236816406
s[ 14 ] :  75461.29214477539
s[ 15 ] :  148952.0617828369
s[ 16 ] :  300859.9073257446
s[ 17 ] :  597286.139011383
s[ 18 ] :  1201222.7914829254
s[ 19 ] :  2392469.812775612
s[ 20 ] :  4799903.280836582
s[ 21 ] :  9577361.078745127
s[ 22 ] :  19188390.38188231
s[ 23 ] :  38326278.427176535
s[ 24 ] :  76728310.3592352
s[ 25 ] :  153342990.4611472
s[ 26 ] :  306856426.30827916
s[ 27 ] :  613457184.5375812
s[ 28 ] :  1227297871.193628
s[ 29 ] :  2454020489.2095575

7. a) Programme servant à vérifier si une année est bissextile

In [26]:
year = int(input("Enter any year : "))
if(year%4 == 0):
    print("Leap year")
else:
    print("No leap year")

Enter any year : 2022
No leap year

8. a) Calculer la somme du carrée des n premiers nombre

In [27]:
somme = 0
for i in range(0,20):
    somme = somme + i*i
print(somme)

2470

In [28]:
somme = 0
i = 0
while i < 20:
    somme = somme + i*i
    i = i + 1
print(somme)

2470

b) Afficher l'entier naturel n plus petit que M

In [34]:
M = 5
list = []
for i  in range(1,6):
    if i*i <= M:
        list.append(i)
print(min(list))

1

In [35]:
M = 5
list = []
i = 1
while i<6:
    if i*i <= M:
        list.append(i)
    i = i + 1     
print(min(list))

1

9. a) Afficher les diviseurs d'un nombre n

In [40]:
n = 15
i = 1
while i <= n:
    if n % i == 0:
        print(i)
    i = i + 1

1
3
5
15

b) Vérifier si un nombre est premier

In [45]:
number = int(input("Enter a natural number : "))
compteur = 0
i = 2
while i < number:
    if(number%i == 0):
        compteur = compteur + 1
    i = i + 1
if(compteur == 0):
    print("Number is prime")
else:
    print("Number is not prime")

Enter a natural number : 15
Number is not prime

10. Table de multiplication

In [50]:
number_1 = int(input("Enter a number between 0 - 9 :"))
while (number_1 < 0) | (number_1 > 9):
    number_1 = int(input("Enter a number between 0 - 9 :"))
    
number_2 = int(input("Enter a natural number : "))

for i in range(number_2+1):
    print(number_1,"*",i,"=",number_1*i)

Enter a number between 0 - 9 :14
Enter a number between 0 - 9 :15
Enter a number between 0 - 9 :5
Enter a natural number : 22
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
5 * 21 = 105
5 * 22 = 110

11. Multiple of values

In [54]:
multiple_3 = []
multiple_7 = []
multiple_11 = []
for i in range(0,41):
    if i%3 == 0:
        multiple_3.append(i)
    if i%7 == 0:
        multiple_7.append(i)
    if i%11 == 0:
        multiple_11.append(i)
print("Les multipes de 3 : ",multiple_3) 
print("Les multiples de 7 :",multiple_7)
print("Les multiples de 11 :",multiple_11)

Les multipes de 3 :  [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]
Les multiples de 7 : [0, 7, 14, 21, 28, 35]
Les multiples de 11 : [0, 11, 22, 33]

12. Part int of number

In [56]:
x = float(input("Enter a float number : "))
a = int(x)

if(x == a):
    print(a)
if(x >= 0):
    print(a)
else:
    print(a-1)

Enter a float number : 1.5
1

13. Cartesian Coordinates

In [68]:
x = float(input("Enter abscissa of point : "))
y = float(input("Enter orderly of point : "))

if(x == 0) & (y == 0):
    print("Origin of landmark")
elif(x < 0) & (y > 0):
    print("1st quadrant")
elif(x < 0) & (y < 0):
    print("3rd quadrant")
elif(x > 0) & (y > 0):
    print("2nd quadrant")
if(x > 0)&(y < 0):
    print("4th quadrant")

Enter abscissa of point : 0
Enter orderly of point : 0
Origin of landmark

14. Multiples of numbers

In [67]:
x = int(input("Enter a number between [0 - 9] :"))
while (x < 0) | (x > 10):
    x = int(input("Enter a number between [0 - 9] :"))
    
maxi = int(input("Enter a number between 0 - 255 : ")) 
while (maxi < 0) | (maxi > 256):
    maxi = int(input("Enter a number between 0 - 255 : ")) 
    
all_multiple = []
for i in range(1,maxi):
    if x%i == 0:
        all_multiple.append(i)
print("All multiple of x : ",all_multiple)

Enter a number between 0 - 9 :4
Enter a number between 0 - 255 : 254
All multiple of x :  [1, 2, 4]